@import "fonts.css";
@import "slider.css";

/* BLOCKS */
@import "blocks/header.css";
@import "blocks/info.css";
@import "blocks/reasons.css";
@import "blocks/block4.css";
@import "blocks/schedule.css";
@import "blocks/program.css";
@import "blocks/ayurveda.css";
@import "blocks/block8.css";
@import "blocks/instructors.css";
@import "blocks/reviews.css";
@import "blocks/chose.css";
@import "blocks/how.css";
@import "blocks/cost.css";
@import "blocks/warranty.css";
@import "blocks/contacts.css";
@import "blocks/footer.css";
/* /BLOCKS */

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 940px;
  margin: 0 auto;
}

@media (max-width: 992px) {
  .container {
    width: 740px;
  }
  .slider-slider {
    display: none;
  }
  .slider-content {
    margin-top: 40px;
  }
  .slider-overlay {
    display: none;
  }
  .slider-slide-overlay {
    position: relative;
    /* width: 690px; */
    height: 160px;
    width: auto;
    margin: 0;
  }

  .slider-slide-overlay {
    border: 0;
  }

  .slider-slide-overlay-title {
    margin-top: 20px;
    color: #000;
  }
  .slider-slide-overlay-description {
    margin-left: 120px;
    margin-right: 120px;
    color: #000;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }
  .slider-slide-overlay-description {
    margin-left: 60px;
    margin-right: 60px;
  }
}

@media (max-width: 576px) {
  .container {
    width: 90%;
  }
  .slider-slide-overlay-description {
    margin-left: 10%;
    margin-right: 10%;
  }
}
