.chose {
  background-color: #f8f2e4;
  padding-top: 80px;
  padding-bottom: 56px;
  text-align: center;
}

.chose-title {
  color: #000000;
  font-family: "Muller Medium";
  font-size: 36px;
  font-weight: 400;
}

.chose-line {
  margin-top: 20px;
  margin-bottom: 70px;
}

.chose-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.chose-grid-item {
  width: 29%;
  margin-bottom: 56px;
}

.chose-grid-item-img {
  width: 120px;
  height: 120px;
}

.chose-grid-item-title {
  color: #000000;
  font-family: "Muller Bold";
  font-size: 18px;
  font-weight: 400;
  margin-top: 38px;
}

.chose-grid-item-text {
  color: #000000;
  font-family: "Muller Light";
  font-size: 16px;
  font-weight: 400;
  margin-top: 20px;
}

@media (max-width: 992px) {
  .chose-grid-item-title {
    margin-top: 20px;
  }
  .chose-grid-item-text {
    margin-top: 12px;
  }
}

@media (max-width: 768px) {
  .chose-grid-item {
    margin-bottom: 28px;
    width: 45%;
  }
}

@media (max-width: 576px) {
  .chose-grid-item-img {
    width: 80px;
    height: 80px;
  }
  .chose-grid-item-title {
    margin-top: 8px;
    font-size: 16px;
  }
  .chose-grid-item-text {
    margin-top: 4px;
    font-size: 13px;
  }
}
